<div class="container">
<nav class="sub-nav">
   {{breadcrumbs}}
   <!--<div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
      </div>-->
</nav>
{{#is category.name "Agreo"}}
<!-- AFFICHE TITRE CATEGORIE -->
<div class="category-container">
   <div class="category-content">
      <header class="page-header">
         <h1>{{category.name}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
         {{/if}}
      </header>
      <div class="section-tree">
         {{#each sections}}
         {{#is name 'Nouveautés produit'}}
         <section class="section">
            <h3 class="page-section-tree-title">
               <a href='{{url}}' class="page-section-tree-title"> <span class="page-section-tree-title"> {{name}} </span> </a>
            </h3>
            {{#if articles}}
            <ul class="article-list">
               {{#each articles}}
               <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                  {{#if promoted}} <span data-title="{{t 'promoted'}}" class="icon-star"></span> {{/if}}
                  <a href="{{url}}" class="article-list-link">{{title}}</a>
                  {{#if internal}} <span class="icon-lock" title="{{t 'internal'}}"></span> {{/if}}
               </li>
               {{/each}}
            </ul>
            {{#if more_articles}}
            <a href="{{url}}" class="see-all-articles"> {{t 'show_all_articles' count=article_count}} </a>
            {{/if}}
            {{/if}}
         </section>
         {{/is}}
         {{#is name 'Foire aux questions'}}
         <section class="section">
            <h3 class="page-section-tree-title">
               <a href='{{url}}' class="page-section-tree-title"> <span class="page-section-tree-title"> {{name}} </span> </a>
            </h3>
            {{#if articles}}
            <ul class="article-list">
               {{#each articles}}
               <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                  {{#if promoted}} <span data-title="{{t 'promoted'}}" class="icon-star"></span> {{/if}}
                  <a href="{{url}}" class="article-list-link">{{title}}</a>
                  {{#if internal}} <span class="icon-lock" title="{{t 'internal'}}"></span> {{/if}}
               </li>
               {{/each}}
            </ul>
            {{#if more_articles}}
            <a href="{{url}}" class="see-all-articles"> {{t 'show_all_articles' count=article_count}} </a>
            {{/if}}
            {{/if}}
         </section>
         {{/is}}
         {{/each}}
      </div>
      <!--ZONE REPARTITION DES SECTIONS VIGNE & VIN USINE AMONT & COLLECTE-->
      {{#each sections}}
      {{#is name "Vigne & Vin"}}
      <div class="vigneVin">
         <img src="{{asset 'iconVigneVin.svg'}}" /> 
         <h2>Vigne & Vin</h2>
      </div>
      {{#if sections}}
      <div class="section-tree">
         {{#each sections}}
         <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
               <span class="blocks-item-title">
               {{name}}
               </span>
               <span class="blocks-item-description"><!--{{excerpt description}}--></span>
            </a>
         </li>
         {{/each}} 
      </div>
      {{/if}}
      {{else}}
      {{#is name "Usine"}} 
      <div class="usine">
         <img src="{{asset 'iconUsine.svg'}}" /> 
         <h2>Usine</h2>
      </div>
      {{#if sections}}
      <div class="section-tree">
         {{#each sections}}
         <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
               <span class="blocks-item-title">
               {{name}}
               </span>
               <span class="blocks-item-description"><!--{{excerpt description}}--></span>
            </a>
         </li>
         {{/each}} 
      </div>
      {{/if}}
      {{else}}
      {{#is name "Amont & Collecte"}}
      <div class="amontCollecte">
         <img src="{{asset 'iconAmontCollecte.svg'}}" /> 
         <h2>Amont & Collecte</h2>
      </div>
      {{#if sections}}
      <div class="section-tree">
         {{#each sections}}
         <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
               <span class="blocks-item-title">
               {{name}}
               </span>
               <span class="blocks-item-description"><!--{{excerpt description}}--></span>
            </a>
         </li>
         {{/each}} 
      </div>
      {{/if}}
     {{/is}}
     
      {{/is}}
      {{/is}}
      {{/each}}
     <div id="SDS" class="amontCollecte" style="visibility: hidden;">
         
         <h2>Divers</h2>
      </div>
     <div class="section-tree">
     {{#each sections}}
     {{#is name 'Nouveautés produit'}}
     {{else}}
     {{#is name 'Foire aux questions'}}
     {{else}}
     {{#is name 'Amont & Collecte'}}
     {{else}}
     {{#is name 'Usine'}}
     {{else}}
     {{#is name 'Vigne & Vin'}}
     {{else}}
      {{#if sections}}
     <script type="text/javascript">
function Show (addr) { document.getElementById(addr).style.visibility = "visible";	}
window.onload = function () { Show("SDS");	};
</script>
     <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
               <span class="blocks-item-title">
               {{name}}
               </span>
               <span class="blocks-item-description"><!--{{excerpt description}}--></span>
            </a>
         </li>
     {{/if}}
     {{#if articles}}
     <script type="text/javascript">
function Show (addr) { document.getElementById(addr).style.visibility = "visible";	}
window.onload = function () { Show("SDS");	};
</script>
<li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
               <span class="blocks-item-title">
               {{name}}
               </span>
               <span class="blocks-item-description"><!--{{excerpt description}}--></span>
            </a>
         </li> 
     {{/if}}
     {{/is}}
      {{/is}}
     {{/is}}
     {{/is}}
      {{/is}}
     {{/each}}
       </div>
   </div>
</div>
{{else}}
<div class="category-container">
   <div class="category-content">
      <header class="page-header">
         <h1>{{category.name}}</h1>
         {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
         {{/if}}
      </header>
      <div class="section-tree">
         {{#each sections}}
         {{#is name 'Notes de mises à jour'}}
         <section class="section">
            <h3 class="page-section-tree-title">
               <a href='{{url}}' class="page-section-tree-title">
               <span class="page-section-tree-title">
               {{name}}
               </span>
               </a>
            </h3>
            {{#if articles}}
            <ul class="article-list">
               {{#each articles}}
               <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                  {{#if promoted}}
                  <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                  {{/if}}
                  <a href="{{url}}" class="article-list-link">{{title}}</a>
                  {{#if internal}}
                  <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
               </li>
               {{/each}}
            </ul>
            {{#if more_articles}}
            <a href="{{url}}" class="see-all-articles">
            {{t 'show_all_articles' count=article_count}}
            </a>
            {{/if}}
            {{/if}}
         </section>
         {{/is}}
         {{#is name 'Agenda Webformations'}}
         <section class="section">
            <h3 class="page-section-tree-title">
               <a href='{{url}}' class="page-section-tree-title">
               <span class="page-section-tree-title">
               {{name}}
               </span>
               </a>
            </h3>
            {{#if articles}}
            <ul class="article-list">
               {{#each articles}}
               <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                  {{#if promoted}}
                  <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                  {{/if}}
                  <a href="{{url}}" class="article-list-link">{{title}}</a>
                  {{#if internal}}
                  <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
               </li>
               {{/each}}
            </ul>
            {{#if more_articles}}
            <a href="{{url}}" class="see-all-articles">
            {{t 'show_all_articles' count=article_count}}
            </a>
            {{/if}}
            {{/if}}
         </section>
         {{/is}}
         {{/each}}
      </div>
   </div>
</div>
<div class="category-container">
   <div class="category-content">
      <div id="main-content" class="section-tree">
         {{#each sections}}
         {{#is name 'Informations Produit'}}
         {{else}}
         {{#is name 'Agenda Webformations'}}
         {{else}}
         <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
               <span class="blocks-item-title">
               {{name}}
               </span>
               <span class="blocks-item-description">{{excerpt description}}</span>
            </a>
         </li>
         {{/is}}
         {{/is}}
         {{/each}}
      </div>
   </div>
   {{/is}}
</div>