<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<footer class="mysmag-footer">
    <div class="footer-cols">
    	<!--<div class="footer-col">
        <h2 class="mysmag-puce">{{dc 'usual_questions'}}</h2>
        <ul class="mysmag-menu">
          <li>
           <a href="https://mysmag.tech/faqs/comment-creer-un-ticket-au-support-smag/">{{dc 'ho_to_contact_support'}}</a>
          </li>
          <li>
            <a href="https://mysmag.tech/faqs/comment-minscrire-sur-mysmag-2/">{{dc 'how_to_create_account'}}</a>
          </li>
        </ul>
        <div class="seemore">
        	<a  href="https://mysmag.tech/faqs/">{{dc 'all_questions'}}</a> 
        </div>
      </div>-->
    	<div class="footer-col">
       <img src="{{asset 'mysmag-logo.svg'}}" alt="{{t 'home_page' name=help_center.name}}" style="width : 30%">
        <br/>
Leader français de l’informatique agricole, SMAG <br/> conçoit et édite des logiciels destinés à la gestion <br/> des exploitations agricoles et à la traçabilité des<br/> productions.<br/>
<a href="https://smag.tech/" target="_blank">EN SAVOIR PLUS</a></div>
        <div class="footer-col">
        <ul class="mysmag-list">
         <!-- <li>
          <a href="https://mysmag.tech">{{dc 'home'}}</a>
          </li>-->
          <li>
          <a href="https://mysmag.tech">{{dc 'Alertes'}}</a>
          </li>
          <!--<li>
          <a href="https://mysmag.tech/formations/">{{dc 'training'}}</a>
          </li>
          <li>
          <a href="https://mysmag.tech/faqs/">{{dc 'faq'}}</a>
          </li>-->
          <li>
          {{#link 'new_request' class='submit-a-request'}}Contact{{/link}}
          </li>
        </ul>
      </div>
    	<div class="footer-col social-logos">
        <ul>
          <li class="logo logo-twitter">
            <a href="https://twitter.com/smag_smartagri" target="_blank"></a>
          </li>
          <li class="logo logo-linkedin">
            <a href="https://www.linkedin.com/company/smag/" target="_blank"></a>
          </li>
          <li class="logo logo-youtube">
            <a href="https://www.youtube.com/channel/UCwkE7rndASxb6owyxVxgTYw" target="_blank"></a>
          </li>
          <li class="logo logo-facebook">
            <a href="https://www.facebook.com/SmagFarmer/" target="_blank"></a>
          </li> 
          
        </ul>
      </div>
    </div>
    <div class="footer-standard">
      <div class="copyright">{{dc 'copyright'}}</div>
      <ul>
        <li>
          <a class="credits" href="" target="_blank">{{dc 'credits'}}</a>
        </li>
      <li>
        <a class="legals" href="" target="_blank">{{dc 'legals'}}</a>
      </li>
      </ul>
    </div>
  
</footer> 